[% PROCESS sub/date.html %]
[% c.load_once("jquery.ui/smoothness/jquery-ui-1.7.custom.css") %]

<div id='edit_profile_tabs' class='ftabs ui-tabs ui-widget ui-widget-content ui-corner-all'>
    <ul class="ui-tabs-nav ui-helper-reset ui-helper-clearfix ui-widget-header ui-corner-all">
        <li class="ui-state-default ui-corner-top"><a href='/site/recent'><span>[% c.loc("Recent Topics") %]</span></a></li>
        <li class="ui-state-default ui-corner-top"><a href='/site/popular'><span>[% c.loc("Popular") %]</span></a></li>
        <li class="ui-corner-top ui-tabs-selected ui-state-active"><a href='/site/members'><span>[% c.loc("Recent Members") %]</span></a></li>
    </ul>
    <div class="ui-tabs-panel ui-widget-content ui-corner-bottom">

<div class='one'>
<table align='center'>
<tr align='center' class='title'>
    <td>[% c.loc("Nickname") %]</td>
    <td>[% c.loc("Gender") %]</td>
    <td>[% c.loc("Status") %]</td>
    <td>[% c.loc("Register on") %]</td>
</tr>
[% FOREACH user IN users %]
<tr align='center' class='misc[% IF loop.count mod 2 %]1[% ELSE %]2[% END %]'>

<td><a href="/u/[% user.username %]">[% user.nickname%]</a></td>
<td>[% IF user.gender != 'NA' %]<img src='[% c.config.dir.images %]/site/gender_[% user.gender %].gif' width='20' height='14' align='absmiddle' /></span>[% ELSE %]N/A[% END %]</td>
<td>[% user.status | ucfirst %]</td>
<td>[% date_format(user.register_time) %]</td>

</tr>
[% END %]
</table>

<br />
<table align='center'>
<tr><td class='misc1'>[% INCLUDE sub/pager.html %]</td></tr>
</table>
</div>

    </div>
</div>