[% USE date %]

<br />
<div class='one'>
<table align='center'>
<tr class='title'><td colspan='2'> -=> <a href='/site/online'>[% c.loc("Who is viewing this Page?") %]</a> [ [% date.format(date.now, '%Y-%m-%d %H:%M:%S') %] ]</td></tr>
    <tr>
    <td class='forum1' valign='middle' align='center' width='28'><img src='[% c.config.dir.images %]/board/online.gif' alt='On' width='16' height='16' /></td>
    <td class='forum2' width='*'>
    [% FOREACH whos IN whos_view_this_page %]
    [% IF whos.user %]
    <a href='/u/[% whos.user.username %]' alt="Visit time: [% date.format(whos.visit_time, '%Y-%m-%d %H:%M:%S') %]\nActive time: [% date.format(whos.active_time, '%Y-%m-%d %H:%M:%S') %]">[% whos.user.nickname %]</a>[% UNLESS loop.last %], [% END %]
    [% ELSE %]
    <span alt="Visit time: [% date.format(whos.visit_time, '%Y-%m-%d %H:%M:%S') %]\nActive time: [% date.format(whos.active_time, '%Y-%m-%d %H:%M:%S') %]">Guest</span>
    [% END %]
    [% END %]
    </td>
    </tr>
</table>
</div>