[% USE FillInForm %]

[% UNLESS c.req.method == 'POST';
    comment_title = comment.title | decodeHTML;
    filldata = {
        title => comment_title,
        text  => comment.text,
    };
END; %]

[% FILTER fillinform fdat => filldata || c.req.params %]

<div class='one'>
<form method="post" enctype="multipart/form-data">
<table align='center' border='1' cellpadding='6'>
  <tr class='title'><td colspan='2'>Eidt a Comment</td></tr>
  <tr class='forum1'><td align='right'>[% c.loc('Title') %]</td><td><input type='text' size='60' maxlength='80' name='title' />
  [% IF c.form.error('title') %]title should be 1-80 chars.[% END %]
</td></tr>
  <tr class='forum2'>
    <td align='center' valign='middle'>
    [% INCLUDE format/emot.html %]
    </td><td>

    [% WRAPPER 'format/bbcode.html' %]

	<textarea name="text" id='text' style='width: 90%' rows="15"></textarea>
	[% IF c.form.error('text') %]text is required.[% END %]

	[% END %]

  </td></tr>
  <tr class='forum1'><td align='right'>[% c.loc('Upload Attachment') %]</td><td>
  [% IF upload %]
  [% USE Math %]

  [% upload_id = upload.upload_id;
     filetype  = upload.filetype;
     dir1 = upload_id / 3200 / 3200;
     dir1 = Math.int(dir1);
     dir2 = upload_id / 3200;
     dir2 = Math.int(dir2);
  %]
  <input type='radio' name='attachment_action' value='stay' checked='yes' /> Stay as before [ <a href="[% c.config.dir.upload %]/[% dir1 _ '/' _ dir2 _ '/' _ upload.filename %]">[% upload.filename %]</a> ]<br />
  <input type='radio' name='attachment_action' value='delete' /> Delete it<br />
  <input type='radio' name='attachment_action' value='replace' /> Replace it<br />
  [% END %]
  [% INCLUDE upload/input.html %]
  </td></tr>
  <tr class='forum2'><td></td><td><input type='submit' /></td></tr>
</table>
</form>
</div>

[% END %]