[% USE FillInForm %]

[% FILTER fillinform fdat => c.req.params %]

<div class='one'>
<form method="post" enctype="multipart/form-data">
<table align='center' border='1' cellpadding='6'>
  <tr class='title'><td colspan='2'>Reply a Comment</td></tr>
  [% IF comment %]
  <tr class='forum2'><td colspan='2' align='center'>
    <table style='width:80%'>
        <tr><td colspan='2' class='title'>[% comment.title %]</td></tr>
        <tr class='forum1'><td width='150' valign='top'>
            [% INCLUDE 'include/user_profile_simple.html' user = comment.author %]
        </td><td>
            [% comment.text %]
        </td></tr>
    </table>
  </td></tr>
  [% END %]
  <tr class='forum1'><td align='right'>[% c.loc('Title') %]</td><td><input type='text' size='60' maxlength='80' name='title' />
  [% IF c.form.error('title') %]title should be 1-80 chars.[% END %]
</td></tr>
  <tr class='forum2'>
    <td align='center' valign='middle'>
    [% INCLUDE format/emot.html %]
    </td><td>

    [% WRAPPER 'format/bbcode.html' %]

	<textarea name="text" id='text' style='width: 90%' rows="15"></textarea>
	[% IF c.form.error('text') %]text is required.[% END %]

	[% END %]

  </td></tr>
  <tr class='forum1'><td align='right'>[% c.loc('Upload Attachment') %]</td><td>
    [% INCLUDE upload/input.html %]
  </td></tr>
  <tr class='forum2'><td></td><td><input type='submit' /></td></tr>
</table>
</form>
</div>

[% END %]