[% USE FillInForm %]

<script>

function validate_username () {
    var username = $('#username').val();
    if (username.length < 6 || username.length > 20) {
        $('#error_username').css( { color: 'red' } );
        $('#error_username').html('username should be 6-20 chars.');
        return false;
    }
    
    $.get('/ajax/validate_username', { 'username': username }, function(data) {
        if (data == 'OK') {
            $('#error_username').css( { color: 'green' } );
            $('#error_username').html('OK');
        } else {
            var error;
            switch (data) {
                case 'HAS_BLANK' :
                    error = "don't put blank in your username.";
                    break;
                case 'HAS_SPECAIL_CHAR' :
                    error = "only A-Z, a-z, 0-9, -, _ is allowed.";
                    break;
                case 'HAS_RESERVED' :
                    error = "this username is reserved.";
                    break;
                case 'DBIC_UNIQUE'  :
                    error = "This username is used by another one.";
                    break;
                default : 
                    error = "Unkown";
            }
            $('#error_username').css( { color: 'red' } );
            $('#error_username').html(error);
        }
    } );
}

</script>

[% FILTER fillinform fdat => c.req.params %]
<div id='register' class='one'>
<table align='center'>
	<tbody>
	<form method='post'>
	<tr class='title'><td colspan='2'>Register Agreement</td></tr>
	<tr class='misc2'><td colspan='2'>
	    <div style='width:100%; height: 150px; background: #FFF; overflow-y: auto'>
		<ul>Read it carefully, be sure you are willing to accept all:
		<li>1
		<li>2
		<li>3
		</ul>
	    </div>
	</td></tr>
	<tr class='misc1'><td width='20%' align='right'>Username:</td><td><input type='text' name='username' id='username' size='12' onblur="javascript:validate_username()" />
	<span id='error_username' style='font-weight:bold;'>
	[% IF c.form.error('username') %]
	    [% IF c.form.error('username', 'HAS_BLANK') %]
	    don't put blank in your username.
	    [% ELSIF c.form.error('username', 'HAS_SPECAIL_CHAR') %]
	    only A-Z, a-z, 0-9, - is allowed.
	    [% ELSIF c.form.error('username', 'HAS_RESERVED') %]
	    this username is reserved.
	    [% ELSIF c.form.error('username', 'DBIC_UNIQUE') %]
	    This username is used by another one.
	    [% ELSE %]
	    username should be 6-20 chars.
	    [% END %]
	[% END %]
	only A-Z, a-z, 0-9, -, _ is allowed.
	</span>
	</td></tr>
    <tr class='misc2'><td align='right'>Nickname:</td><td><input type='text' name='nickname' size='12' /></td></tr>
	<tr class='misc1'><td align='right'>Password:</td><td><input type='password' name='password' size='12' /> [% IF c.form.error('password') %]password should be 6-20 [% END %]</td></tr>
	<tr class='misc2'><td align='right'>Confirm password:</td><td><input type='password' name='confirm_password' size='12' /> [% IF c.form.error('passwords') %]Confirm password is not the same as password[% END %]</td></tr>
	<tr class='misc1'><td align='right'>[% c.loc("Email") %]</td><td><input type='text' name='email' size='24' />
	[% IF c.form.error('email') %]
	    [% IF c.form.error('email', 'DBIC_UNIQUE') %]
	    This email is used by another one.
	    [% ELSE %]
	    you should spec a correct email.
	    [% END %]
	[% END %]
	</td></tr>
	<tr class='misc2'><td></td><td><input type='submit' /></td></tr>
	</form>
	</tbody>
</table>
</div>
[% END %]