[% c.load_once("jquery.ui/smoothness/jquery-ui-1.7.custom.css") %]

[% url_base = '/forumadmin/' _ forum.forum_id %]

<div id='edit_profile_tabs' class='ftabs ui-tabs ui-widget ui-widget-content ui-corner-all'>
    <ul class="ui-tabs-nav ui-helper-reset ui-helper-clearfix ui-widget-header ui-corner-all">
        <li class="ui-state-default ui-corner-top"><a href='[% forum.forum_url %]'><span>Forum</span></a></li>
        <li[% IF c.req.path.match('basic') %] class="ui-corner-top ui-tabs-selected ui-state-active"[% ELSE %] class="ui-state-default ui-corner-top"[% END %]><a href='[% url_base %]/basic'><span>[% c.loc('Basic Setting') %]</span></a></li>
        [% IF forum.policy == 'private' %]
        <li class="ui-state-default ui-corner-top"><a href='[% forum.forum_url %]/members'><span>[% c.loc('Members Settings') %]</span></a></li>
        [% END %]
        <li[% IF c.req.path.match('announcement') %] class="ui-corner-top ui-tabs-selected ui-state-active"[% ELSE %] class="ui-state-default ui-corner-top"[% END %]><a href='[% url_base %]/announcement'><span>[% c.loc('Announcement Setting') %]</span></a></li>
        <li[% IF c.req.path.match('links') %] class="ui-corner-top ui-tabs-selected ui-state-active"[% ELSE %] class="ui-state-default ui-corner-top"[% END %]><a href='[% url_base %]/links'><span>[% c.loc('Forum Links') %]</span></a></li>
    </ul>
    <div class="ui-tabs-panel ui-widget-content ui-corner-bottom">

[% content %]

    </div>
</div>